	<footer>
		<div id="meta">
			<h2><img src="/media/metamask.svg" width="30px"> We use Metamask as our preferred crypto wallet</h2>
			<p>In order to create your account and post content you will need to <a id="getmeta" href="https://metamask.io/" target="_blank">install Metamask</a> and have some CET funds as all transactions will be stored in the blockchain</p>
			<p>Once installed, <a id="addwallet" href="https://docs.coinex.org/#/en-us/wallet" target="_blank">follow instructions</a> to add CSC TESTNET network to Metamask and go to the <a href="https://testnet.coinex.net/faucet" target="_blank">faucet</a> to get some test coins</p>
		</div>
		<div id="rights">&copy; 2022 LOWD.me</div>
	</footer>
